@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "SentBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Kutusu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Alıcı</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy HH:mm"))</td>
                                <td>@item.Receiver</td>
                                <td><a class="btn btn-primary" href="/Writer/Message/MessageDetails/@item.WriterMessageID">Mesajı Gör</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>