@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
    <br />
</div>
<div class="card-header border-0">

    <form class="form-group" method="post">
        @Html.Label("Başlık")
        <input type="text" class="form-control" name="Title" />
        <br />
        <label>Yetenek Değeri</label>
        <input type="text" class="form-control" name="Value" />
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>