@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Düzenleme Sayfası</h4>
            <form class="form-group" method="post">
                @Html.Label("Başlık")
                <input type="text" class="form-control" name="Title" />
                <br />
                <label>Yetenek Değeri</label>
                <input type="text" class="form-control" name="Value" />
                <br />
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>